[Unit]
Description = Mashiron daemon

[Service]
ExecStart = /opt/Mashiron-go/bin/mashiron.sh
WorkingDirectory= /opt/Mashiron-go
Restart = on-failure
Type = simple

[Install]
WantedBy = multi-user.target
